        body {
            width: 1000px;
            margin: 0 auto;
            text-align: center;
        }
        
        table {
            margin: 0 auto;
            text-align: center;
        }
        
        ul,
        ol {
            list-style-type: none;
        }
        
        a[target="_blank"] {
            color: rgb(202, 178, 71);
            text-decoration: none;
        }
        
        #id_index {
            font: 1em sans-serif;
        }
        
        #id_worktable {
            border: 2px solid steelblue
        }
        
        .outline.abc {
            background-color: yellow;
        }
        
        .outline {
            color: red;
            font-weight: bold;
            font-style: italic;
            text-decoration: underline;
        }
        
        input[disabled] {
            cursor: not-allowed;
        }
        
        a[href^="#"] {
            color: rgb(185, 53, 141);
        }