        body {
            width: 1000px;
            margin: 0 auto;
            text-align: center;
            font: SimSon;
            font-style: italic;
            font: 18px "Microsoft YaHei"
        }
        
        table {
            margin: 0 auto;
            text-align: center;
        }
        
        ul,
        ol {
            list-style-type: none;
        }
        
        a[target="_blank"] {
            color: rgb(202, 178, 71);
            text-decoration: none;
        }
        
        #id_index {
            font: 1em sans-serif;
        }
        
        #id_worktable {
            border: 2px solid steelblue
        }
        
        .outline.abc {
            background-color: yellow;
        }
        
        .outline {
            color: red;
            font-weight: bold;
            font-style: italic;
            text-decoration: underline;
        }
        
        input[disabled] {
            cursor: not-allowed;
        }
        
        p[class^=outline] {
            text-align: left;
            vertical-align: -10px;
        }
        
        a[href^="#"] {
            color: rgb(185, 53, 141);
            background-color: yellowgreen;
        }
        
        img#img {
            vertical-align: baseline;
        }
        
        ol#edu_info~li {
            color: red;
        }